* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: '맑은 고딕';
    font-size: 10px;
    line-height: 26px;
    min-width: 1320px;
}

/* 배경색상 */
.brand1 {
    background-color: #f8eae4;
}

.brand2 {
    background-color: #ffffff;
}

/* 이미지 크기 */
img {
    width: 1320px;
    display: block;
    margin: auto;
}

/* 버튼 */
ul {
    list-style: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
}

ul li {
    margin: 10px;
}

ul li:nth-child(1) a,
ul li:nth-child(2) a{
    display: inline-block;
    width: 50px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 50px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.123);
    text-transform: uppercase;
    transition: all 0.5s;
}

ul li:nth-child(3) a {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.btn_1 li a img {
    display: block;
    width: 50px;
}

ul li:nth-child(3) a:hover{
    transform: scale(1.15,1.15);
}


.btn_1 li:nth-child(1) a:hover,
.btn_1 li:nth-child(2) a:hover {
    width: 50px;
    height: 30px;
    padding: 2px 10px;
}

.btn_1 li:nth-child(1) a,
.btn_1 li:nth-child(2) a {
    border: #92a0af00 2px solid;
    color: #745449;
}

.btn_2 li a:hover {
    background: #fbbe41;
}

.btn_2 li a {
    background: #445ca9;
    color: #fff;
}